<div class="formulaire_component">
    <div class="formulaire_container">
        <form action="">
            <div class="input_nom_prenom">
                <input type="text" name="" id="" placeholder="Nom">
                <input type="text" name="" id="" placeholder="Prénom">
            </div>
            <div class="input_email_objet">
                <input type="text" name="" id="" placeholder="Email">
                <input type="text" name="" id="" placeholder="Objet">
            </div>
            <div class="input_message">
                <textarea name="" id=""></textarea>
            </div>

            <button>Envoyer</button>
        </form>
    </div>
</div>