.layout_certificats{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container_certificats{
    flex: 1;
    padding-top:130px;
    /* display: flex;
    flex-direction: column;
    gap: 10px; */
}