<div class="container_menu">
  <div class="menu">
    <div class="menu_item" routerLink="/acceuil" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      Accueil
    </div>

    <div class="menu_item" routerLink="/projets" routerLinkActive="active">
      Projets
    </div>

    <div class="menu_item" routerLink="/contact" routerLinkActive="active">
      Contact
    </div>

    <div class="menu_item" routerLink="/certificats" routerLinkActive="active">
      Certificats
    </div>
  </div>
</div>